
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(49, 102, 121, 0.88);
}

label{
        display: block;
        margin: 1rem;
        font-size: 1.5rem ;
    }


    
.usuarioCorrecto,.contraseñasIguales{    
    font-size: 0.5rem ;
    color: #14CD14;
}

/*#compruebaContraA, #compruebaContraA */

.contraA, .contraB, .noHaycontra, .media, .segura, .debil, .usuarioInvalido, .contraseñasDesiguales
{
    color: black;
    font-size: 0.5rem ;
}
    
 .usuarioInvalido, .contraseñasDesiguales, .debil
    {     
        color : red;  
    }

    .media
    {        
        color: yellow;
    }

    .segura
    {   
        color: #14CD14;
        /* color: #1A3D1A; */
    }


    
