

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(49, 102, 121, 0.88);
}

label{
        display: block;
        margin: 1rem;
        font-size: 1.5rem ;
    }


    
.usuarioCorrecto,.contraseñasIguales{    
    font-size: 0.5rem ;
    color: #14CD14;
}

/*#compruebaContraA, #compruebaContraA */

.contraA, .contraB, .noHayContra, #compruebaContraA, #compruebaContraB 
{
    color: black;
    font-size: 0.5rem ;
}
    
 .usuarioInvalido, .contraseñasDesiguales, .debil
    {
        font-size: 0.5rem ;
        color : red;  
    }

    .media
    {
        color: yellow;
    }

    .segura
    {
        color: green;
    }


    
